{%extends 'base.html'%} {%block title%} Log In {% endblock %}

{%block content%}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col col-lg-7 text-center text-lg-start">
          <form class="p-4 p-md-5 border rounded-3 bg-light" method="post">
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                placeholder="email@email.com"
              /><label class="form-label" for="emailInput">E-mail</label>
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                placeholder="Password"
              /><label class="form-label" for="passwordInput">Password</label>
            </div>
            <div class="form-floating mb-3"></div>
            <button class="btn btn-primary w-100" type="submit">Log-In</button>
          </form>
        </div>
        <div class="col col-md-10 mx-auto col-lg-5">
          <h1 class="display-4 fw-bold lh-1 mb-3">
            Welcome Back to&nbsp;EventRadar.
          </h1>
          <p class="col-lg-10 fs-4">
            Log in to continue exploring the best events around you. Stay
            connected, stay engaged, and keep discovering great experiences that
            await!
          </p>
        </div>
      </div>
    </div>
{%endblock%}