{%extends 'base.html'%} {%block title%}Sign-Up{%endblock%}
{%block content%}    
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3">
            Welcome to&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; EventRadar.
          </h1>
          <p class="col-lg-10 fs-4">
            Sign up for EventRadar to explore local and virtual events tailored
            to your interests. Don't miss out on exciting opportunities to
            connect, learn, and have fun. Join us today and start exploring!
          </p>
        </div>
        <div class="col col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                placeholder="email@email.com"
              /><label class="form-label" for="emailInput">E-mail</label>
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="text"
                id="first_name"
                name="first_name"
                placeholder="First Name"
              /><label class="form-label" for="firstNameInput"
                >First Name</label
              >
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="password"
                id="password1"
                name="password1"
                placeholder="Password"
              /><label class="form-label" for="passwordInput">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="password"
                id="password2"
                name="password2"
                placeholder="Confirm Password"
              /><label class="form-label" for="confirmPasswordInput"
                >Confirm Password</label
              >
            </div>
            <button class="btn btn-primary w-100" type="submit">Sign-Up</button>
          </form>
        </div>
      </div>
    </div>
{%endblock%}
